DEBUG_MODE=
DEVELOPER_MODE=
IS_PRODUCTION=

TOKEN=
DISCORD_CLIENT_ID=
DISCORD_PREMIUM_SKU_ID=
DEFAULT_PREMIUM_EMOJI=
DISCORD_OWNER_ID=
DISGAMES_SERVER_ID=

DISCORD_WEBHOOK_URL=
DEBUG_DISCORD_WEBHOOK_URL=
TEST_DISCORD_WEBHOOK_URL=

DATABASE_URL=mysql://disgames:changeme@127.0.0.1:3306/disgames

DISGAMES_API_ENABLED=false
DISGAMES_API_PORT=
DISGAMES_DASHBOARD_API_KEYS=changeme1,changeme2

OLLAMA_BASE_URL=
OLLAMA_MODEL=

MAPILLARY_ACCESS_TOKEN=