DEBUG_MODE=
IS_PRODUCTION=

DISCORD_CLIENT_ID=
DISCORD_PREMIUM_SKU_ID=
TOKEN=
DEVELOPER_MODE=
PREFIX=
DISCORD_OWNER_ID=

DISCORD_WEBHOOK_URL=
DEBUG_DISCORD_WEBHOOK_URL=
TEST_DISCORD_WEBHOOK_URL=

COOLIFY_APP_UUID=
MONITOR_URL=
DATABASE_URL=

DISGAMES_API_PORT=
DISGAMES_DASHBOARD_API_KEYS=changeme1,changeme2